* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #888a85;
}

.grid {
  display: grid;
  grid-template-areas:
    "topo topo topo topo topo"
    "nav content content content content"
    "nav content content content content"
    "rodape rodape rodape rodape rodape";
}

header {
  background-color: green;
  grid-area: topo;
  height: 120px;
}

.side_navebar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.container {
  grid-area: content;
  width: 100%;
  padding: 20px;
  background-color: darkgrey;
}

section {
  width: 100%;
}

footer {
  grid-area: rodape;
}

input.checkbox {
  height: 30px;
  width: 30px;
}
.sec_1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.title{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
}