* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url("../media/images/fundo.jpg");

  display: grid;
  grid-template-areas:
    "top top top top top"
    "nav content content content content"
    "nav content content content content"
    "bottom bottom bottom bottom bottom";
}

header {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 30px 10px;
  height: 60px;
  border-radius: 15px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 50%);
}

#to_top_btn {
  position: fixed;
  bottom: 25px;
  right: 25px;

  border-radius: 15%;
  background-color: #55ad35;
  color: #000000;
  transform: scale(2);
}

aside {
  grid-area: nav;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side_navbar {
  background-image: url(../media/images/map_nav_bar.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 15px 0;
  height: 240px;

  position: sticky;
  top: 120px;
  bottom: 0;
}

ul {
  list-style-type: none;
}

.side_navbar>ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.global_progress_bar {
  width: 50%;
  height: 10px;
  
  border-radius: 5px;
  overflow: hidden;
}

.progress_bar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 10px;
  background-color: #a49884;
  overflow: hidden;
}

.progress,
.global_progress {
  height: 100%;
  background-color: #4CAF50;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.container {
  grid-area: content;
}

footer {
  grid-area: bottom;
}

input.checkbox {
  height: 30px;
  width: 30px;
}

.sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 0 0 20px 20px;
  width: 95%;
  margin-bottom: 5px;
  background-color: #B9A37E;
}

.title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.materia {
  background-color: #55ad35;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  height: 150px;
  margin: 5px;
}

.email {
  color: #ffffff;
}

select {
  width: 100%;
  word-wrap: break-word;
  font-size: 20px;
  font-family: times;
}

.explain {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a49884;
  padding: 20px;
  border: 1px solid #000000;
  width: 500px;
  height: 50vh;
  z-index: 9999;
}

.explain.show {
  display: block;
}

.explain .explain_content {
  position: relative;
}

.explain .close {
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
}